/*------------------------------------------------------------
form
------------------------------------------------------------*/
.c-form{
    font-size: 4.8rem;
    margin-bottom: 0;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.06em;
    font-weight: 300;
    position: relative;
    border: 1px #000 solid;
    padding: 108px 0;
    color: #000;
    text-align: center;
}
/*
------------------------------------------------------------*/
