/*------------------------------------------------------------
video
------------------------------------------------------------*/
.c-slide {
    text-align: left;
    margin-bottom: 47px;

    @include sp {
        margin-bottom: 0;
    }

    &__item {
        img {
            @include sp {
                height: 200px;
                object-fit: cover;
            }
        }
    }   
    
}

/*
------------------------------------------------------------*/
